.tagline {
    background: rgb(92, 160, 232);
    color: blue;
    font-size: 20px;
    text-align: center;
    height: 50px;
    text-transform: uppercase;
    line-height: 56px;
}

.tagline2 {
    background: rgb(92, 160, 232);
    color: blue;
    font-size: 20px;
    text-align: center;
    height: 70px;
    text-transform: uppercase;
    line-height: 69px;
}

.body {
    display: flex;
}

img {
    float: left;
    margin-right: 17px;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.div {
    text-indent: 199px;
    clear: left;
}

.column1 {
    background: rgb(230, 196, 86);
    padding: 1px 10px 1px 14px;
}

.column2 {
    background: url(./img/ball.png) top right repeat-y;
    padding: 0px 17px;
}