svg {
    width: 100px;
    height: 100px;
    stroke: coral;
    fill: white;
}

.body {
    display: flex;
    flex-direction: row-reverse;
    place-content: flex-end;
}

.svg1:hover {
    fill: coral;
}

.svg1:hover ~ svg {
    fill: coral;
}

.svg2:hover {
    fill: coral;
}  

.svg2:hover ~ svg {
    fill: coral;
}

.svg3:hover {
    fill: coral;
}

.svg3:hover ~ svg{
    fill: coral;
}

.svg4:hover {
    fill: coral;
}

.svg4:hover ~ svg {
    fill: coral;
}

.svg5:hover {
    fill: coral;
}